{% extends "portfolio/base.html" %}

{% load static %}

{% block title %} - About {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'portfolio/css/about.css' %}">
<link rel="stylesheet" href="{% static 'portfolio/css/heading.css' %}">
{% endblock %}

{% block body %}

<div class="about-heading intro-type">
    <div class="caption text-center">
        <h1>About Me</h1>
        <div class="heading-underline"></div>
    </div>
    <div class="about-inner" style="background-image: url({% static 'portfolio/img/about-top.jpg' %});"></div>
    &nbsp;
</div>

<div class="offset">
    <div class="content">
        <h3 class="heading mb-3">Hey there! My name is Dennis.</h3>
        <p class="text">
            I am a software developer studying Computer Science, living in the United States.
            I enjoy playing guitar, spending time with friends and family, and last but not least, programming.
            Learn more about me below!
        </p>

        <hr class="mt-4">

        <h3 class="heading mb-3">Techonologies</h3>
        <ul>
            <li class="text">Python</li>
            <li class="text">SQLite, PostgreSQL</li>
            <li class="text">HTML / CSS</li>
            <li class="text">uWSGI & Nginx</li>
            <li class="text">Git / Github</li>
            <li class="text">Docker</li>
        </ul>
        
        <hr class="mt-4">

        <h3 class="heading mb-3">Learning</h3>
        <ul>
            <li class="text">Rust</li>
            <li class="text">C / C++</li>
        </ul>

        <hr class="mt-4">

        <h3 class="heading mb-3">Projects</h3>
        <ul>
            <li class="text">
                Administrator of <a href="https://pythondiscord.com/">Python Discord</a>,
                a community focused around the Python language, striving to create new developers
                with over 65,000 members.
            </li>
            <li class="text">
                Participated in the Python Discord <a href="https://pythondiscord.com/pages/code-jams/code-jam-6/">Winter Code Jam 2020</a>
                and <a href="https://pythondiscord.com/pages/events/game-jam-2020/">Game Jam 2020</a>, before becoming an administrator.
                My teams placed in the top 3 in both jams.
            </li>
            <li class="text">
                Various projects updated hourly on my <a href="{% url 'projects' %}">projects page</a>.
            </li>
        </ul>

        <hr class="mt-4">

        <h3 class="heading mb-3">Socials</h3>
        <ul>
            <li class="text">
                Email: <a href="mailto:dennis@dennispham.me">dennis@dennispham.me</a>
            </li>
            <li class="text">
                Discord: f1re#3996
            </li>
            <li class="text">
                GitHub: <a href="https://www.github.com/Den4200">Den4200</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
