{% extends "portfolio/base.html" %}

{% load static %}

{% block title %} - Home {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'portfolio/css/index.css' %}">
{% endblock %}

{% block body %}

<div class="landing">
    <div class="home-wrap">
        <div class="home-inner" style="background-image: url({% static 'portfolio/img/landing-bg.jpg' %});">
        </div>
    </div>
</div>

<div class="caption text-center">
    <h1>Coming soon.</h1>
    <h3>I am <span id="typing"></span></h3>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src="{% static 'portfolio/js/typing.js' %}"></script>
{% endblock %}
