{% extends "portfolio/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'portfolio/css/index.css' %}">
{% endblock %}

{% block body %}

<div class="landing">
    <div class="home-wrap">
        <div class="home-inner" style="background-image: url({% static 'portfolio/img/landing-bg.jpg' %});">
        </div>
    </div>
</div>

<div class="caption text-center">
    <h1>Dennis Pham</h1>
    <h3>I am <span id="typing"></span></h3>
</div>

<div class="content-section">
    <div class="row">
        <div class="col-12">
            <h3 class="heading text-center">Projects</h3>
            <div class="heading-underline mb-4"></div>
        </div>

        {% for repo in repos %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="repo-headline">
                            <i class="fab fa-github" aria-hidden="true"></i>
                            <a href="https://github.com/{{ repo.name }}"> <strong>{{ repo.name }}</strong></a>
                        </div>
                        <div>
                            <p class="card-text">{{ repo.short_description }}</p>
                            <br>
                            <span class="repo-language-dot {{ repo.language | lower }}"></span> {{ repo.language }}
                            <span id="repo-footer-item"><i class="fas fa-star"></i> {{ repo.stargazers }}</span>
                            <span id="repo-footer-item"><i class="fas fa-code-branch"></i> {{ repo.forks }}</span>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src="{% static 'portfolio/js/typing.js' %}"></script>
{% endblock %}
