.about-heading {
  line-height: 80px;
  color: #fff;
  font-weight: 700 !important;
  text-align: center;
}

.intro-type {
  padding: 100px 0px 100px 0px !important;
  position: relative;
  font-weight: 100 !important;
  text-transform: capitalize;
  font-size: 65px;
}

.about-inner {
  background-attachment: inherit !important;
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: -10;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
}

.caption h1 {
  font-size: 3.6rem;
  letter-spacing: .1rem;
  text-shadow: .1rem .1rem .8rem black;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: .8rem;
}

.text {
  font-size: 1.2rem;
}

.content {
  width: 80%;
  max-width: 800px;
  margin: 4rem auto;
}
