#typing strong {
  color: #0196a3;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}

.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
}

.caption h1 {
  font-size: 3.6rem;
  letter-spacing: .1rem;
  text-shadow: .1rem .1rem .8rem black;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: .8rem;
}

.heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto .5rem;
}

.content-section {
  padding: 30px 120px;
}

.card {
  border-color: #cecece;
}

div.repo-headline {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

span.repo-language-dot {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  top: 1px;
  display: inline-block;
  position: relative;
}

span.repo-language-dot.python {
  background-color: #3572A5;
}

span.repo-language-dot.html {
  background-color: #e34c26;
}

span.repo-language-dot.css {
  background-color: #563d7c;
}

span.repo-language-dot.javascript {
  background-color: #f1e05a;
}

#repo-footer-item {
  margin-left: 1.2rem;
}
