---
import PhotoCard from "@/components/PhotoCard.astro";
import { getAlbum } from "@/lib/immich";

interface Props {
  limit?: number;
  shuffle?: boolean;
  showViewMore?: boolean;
}

const { limit, shuffle, showViewMore } = Astro.props;

const album = await getAlbum();
let assets = album.assets;

if (shuffle) {
  assets.sort(() => Math.random() - 0.5);
}

if (limit) {
  assets = assets.slice(0, limit);
}
---

<div class="columns-1 gap-2 sm:columns-2 lg:columns-3">
  {assets.map((asset) => <PhotoCard asset={asset} />)}
  {
    showViewMore && (
      <a
        href="/photos/"
        class="mb-2 flex aspect-3/2 items-center justify-center rounded bg-gray-100 text-gray-500 hover:bg-gray-200 hover:text-amber-600 dark:bg-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-700"
      >
        <span class="text-sm font-medium">View more &rarr;</span>
      </a>
    )
  }
</div>
